body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1512203492609-972c16baa28b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    
}
#parent {
    width: 30%;
    height: 450px;
    border: .2px solid black;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(10px);
}

input {
    width: 85%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

input:focus {
    background-color: rgb(251, 201, 107);
}

#parent>form>button {
    padding: 0.5rem 2rem;
    margin: 10px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

#parent>form>button:hover {
    background-color: darkblue;
    color: white;
    cursor: pointer;

}