@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --main-color:#3867d6;
}
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:.2s linear ;
    -webkit-transition:.2s linear ;
    -moz-transition:.2s linear ;
    -ms-transition:.2s linear ;
    -o-transition:.2s linear ;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
} /* Closing curly brace added */
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: #444;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

body{
    background: #222;
}
.header{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 10000;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}
.header .logo{
    font-weight: bolder;
    color: #fff;
    font-size: 2.5rem;

}
.header .logo span{
    color:var(--main-color);

}
.header .navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin-left: 2rem;
}
.header .navbar a:hover{
    color: var(--main-color);
}
#menu-bars{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}